<!DOCTYPE html>
<html lang="en">

<head>
    <title>Critic Filter</title>
    <script src="../js/jquery-3.1.0.min.js"></script>
    <script src="../js/popup.js"></script>
</head>

<body>
    <div style="margin: 20px;">
        <p>
            list word
        </p>
        <ul id="word_view"></ul>

        <p>Add words:</p>
        <div style="display: inline;">
            <input type="text" id="critic_word">
            <button type="submit" id="addWord" value="add">Add</button>
        </div>
    </div>
</body>

</html>